<h1><%= @store.name %></h1>
<h2><%= @store.owner %></h2>

<% if !@store.transactions.blank? %>
  <h3>Transactions</h3>
  <h4>Balance: <%= @store.balance %></h4>
  <table>
    <tr>
      <th>Id</th>
      <th>Kind</th>
      <th>Date</th>
      <th>Time</th>
      <th>Social Number</th>
      <th>Card Number</th>
      <th>Amount</th>
    </tr>
    <%= render @store.transactions %>
  </table>
<% else %>
<% end %>
